html {
  margin:0;
  padding:0;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
}

header {
  background-color: #b0441c;
  box-shadow: 3px 0 10px #4d4d4d;
  padding: 0 20px;
  color: #dfc595;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  max-width: 320px;
  z-index: 3;
  text-align: center;
}

header h1 {
  font-weight: normal;
  font-size: 3.0em;
  margin: 0.6em 0 0.3em;
  padding: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  text-shadow: -2px 2px #4d4d4d;
}

header .social {
  margin: 0 3em 1em;
  padding: 0;
  font-size: 1.4em;
}

header .social li {
  display: inline-block;
  padding: 0;
  margin-left: 0.4em;
}

header .social a:link,
header .social a:visited {
  color: #dfc595;
}

#description {
  font-family: arial, sans-serif;
  opacity: 0;
}

#description.active {
  opacity: 1;
  transition: opacity 0.01s linear;
  transition-delay: 0.1s;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}

.marker {
  display: flex;
  height: 48px;
  width: 64px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
}

.marker.active {
  z-index: 1;
}

.marker .shadow {
  height: 20px;
  width: 48px;
  left: 8px;
  top: 30px;
  position: absolute;
  background-image:url('./shadow.svg');
  background-size: contain;
}

.marker .icon {
  height: 48px;
  width: 64px;
  position: absolute;
  background-image:url('./donut-0.svg');
  background-size: contain;
}

.marker.active .icon {
  animation: 0.5s bubble;
  transform: scale(1.3);
}

.marker .arrow {
  display: block;
  height: 1px;
  width: 1px;
  position: absolute;
  background-image:url('./arrow.svg');
  background-size: contain;
  transform-origin: 22px 20px;
}

.marker.active .arrow {
  height: 40px;
  width: 48px;
  transition: all linear 0.1s;
  transition-delay: 0.2s;
}

.marker.active .arrow:nth-child(3) {
  transition-delay: 0.3s;
}

.marker.active .arrow:nth-child(4) {
  transition-delay: 0.4s;
}

@keyframes bubble {
  from {
    transform: scale(0.8) translate(0, -70%);
  }

  70% {
    transform: scale(1.3) translate(0, 10%);
  }

  to {
    transform: scale(1.3) translate(0, 0%);
  }
}

.marker.active .shadow {
  animation: 0.5s bubble-shadow;
  top: 40px;
}

@keyframes bubble-shadow {
  from {
    transform: scale(0.1);
  }

  70% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

.marker-0 { background-image: url('./donut-0.svg'); }
.marker-1 { background-image: url('./donut-1.svg'); }
.marker-2 { background-image: url('./donut-2.svg'); }
.marker-3 { background-image: url('./donut-3.svg'); }

.mapboxgl-popup-tip {
  /* border-top-color: #dfc595 !important; */
  opacity: 0;
}

.detail-0 { color: #bc416d; }
.detail-1 { color: #a93fb5; }
.detail-2 { color: #e96941; }
.detail-3 { color: #21a662; }

.mapboxgl-popup {
  z-index: 2;
}

.mapboxgl-popup-content {
  box-shadow: 0 3px 0 #b0441c;
  border-radius: 10px;
  color: #b0441c;
  background-color: #dfc595;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
  transform: scale(0);
}

.mapboxgl-popup-content.open {
  transform: scale(1);
  transition: transform 0.1s linear;
  transition-delay: 0.1s;
}

.mapboxgl-popup-content h2 {
  display: inline-block;
  font-weight: normal;
  background:url('./hr.svg') 0 bottom repeat-x;
  margin: 0.4em 0;
  padding-bottom: 0.2em;
  line-height: 1;
}

.mapboxgl-popup-content p {
  line-height: 1;
  margin: 0;
  padding: 0;
}
