html {
  margin:0;
  padding:0;
  font-family: 'Just Another Hand', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
}

header {
  background-color: #f1dcec;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #535d6c;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header h1 {
  margin: 0.6em 0 0.3em;
  padding: 0;
  text-transform: uppercase;
}

header .social {
  margin: 0 1em 0 0;
  padding: 0;
  color: #535d6c;
  font-size: 1.4em;
}

header .social li {
  display: inline-block;
  padding: 0;
  margin-left: 0.4em;
}

header .social a:link,
header .social a:visited {
  color: #535d6c;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}

.marker {
  display: flex;
  background-image:url('./donut-0.svg');
  background-size: contain;
  cursor: pointer;
  position: absolute;
}

.marker-0 { background-image: url('./donut-0.svg'); }
.marker-1 { background-image: url('./donut-1.svg'); }
.marker-2 { background-image: url('./donut-2.svg'); }
.marker-3 { background-image: url('./donut-3.svg'); }

.mapboxgl-popup-tip {
  border-top-color: #edd6b7 !important;
  box-shadow: rgba(0,0,0,1);
}

.detail-0 { color: #bc416d; }
.detail-1 { color: #a93fb5; }
.detail-2 { color: #e96941; }
.detail-3 { color: #21a662; }

.mapboxgl-popup-content {
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  color: #535d6c;
  background-color: #edd6b7;
  font-family: 'Just Another Hand', sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
}

.mapboxgl-popup-content h2 {
  display: inline-block;
  background:url('./hr.svg') 0 bottom repeat-x;
  margin: 0.4em 0;
  padding-bottom: 0.2em;
  line-height: 1;
}

.mapboxgl-popup-content p {
  line-height: 1;
  margin: 0;
  padding: 0;
}
