html {
  margin:0;
  padding:0;
  font-family: 'Just Another Hand', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
}

header {
  background-color: #7f2863;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header h1 {
  margin: 0.6em 0 0.3em;
  padding: 0;
  text-transform: uppercase;
}

header .social {
  margin: 0 1em 0 0;
  padding: 0;
  color: #fff;
  font-size: 1.4em;
}

header .social li {
  display: inline-block;
  padding: 0;
  margin-left: 0.4em;
}

header .social a:link,
header .social a:visited {
  color: #fff;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.marker {
  display: flex;
  background:url('./donut.svg');
  background-size: contain;
  cursor: pointer;
  position: absolute;
}

.mapboxgl-popup-tip {
  border-top-color: #ff00ae !important;
  box-shadow: rgba(0,0,0,1);
}

.mapboxgl-popup-content {
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  color: #fff;
  background-color: #ff00ae;
  font-family: 'Just Another Hand', sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
}

.mapboxgl-popup-content h2 {
  display: inline-block;
  background:url('./hr.svg') 0 bottom repeat-x;
  margin: 0.4em 0;
  padding-bottom: 0.2em;
  line-height: 1;
}

.mapboxgl-popup-content p {
  line-height: 1;
  margin: 0;
  padding: 0;
}
